.header__email {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    font-style: normal;
    color: white;
    margin-right: 24px;
}

@media screen and (max-width: 500px){

    .header__email {
        margin-right: 0;
    }
}
