.page-content {
    max-width: 1280px;
    padding-top: 45px;
    margin: 0 auto;
}


@media screen and (max-width: 335px){

    .page-content {
        max-width: 320px;
        min-height: calc(100vh - 28px);
        padding-top: 28px;
    }
}    