.header__info-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 905px){

    .header__info-container {
        margin-right: 24px;
    }
}

@media screen and (max-width: 500px){

    .header__info-container {
        flex-direction: column;
        align-items: flex-end;
    }
}

@media screen and (max-width: 420px){

    .header__info-container {
        margin-right: 0px;
        align-items: center;
    }
}